<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="resources/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="topnav">
            <h1 class="branding">Pagan's Blog</h1>
            <button class="mobile-menu-toggle">☰</button>
            <div class="nav-links" id="nav-links">
                <a href="index.html" class="{{#if isHome}}active{{/if}}">Home</a>
                <a href="encodings.html">Encodings</a>
                <a href="workshop.html">Workshop</a>
            </div>
        </nav>
    </header>
    
    {{{body}}}

    <footer>
        <p>This website is made to store my programming projects and an occasional blog. If you'd like to contact me - please don't!</p>
    </footer>
    
    <script type="module" src="resources/js/navigation.js"></script>
</body>
</html>
